.Experience{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    background-color: yellow;
    height:578px
}

.ExperienceColumn{
    height: 126px;
    margin: 2px;
    background: hsl(300, 30%, 50%);
}