.Container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 978px;
    width: 650px;
    background-color: lightgrey;
}


.MainPage{
    color: aqua;
    grid-column: 1;
}


.RightBar{
    color: burlywood;
    grid-column: 2;
}

.Subtitle{
    background-color: aqua;
}