.body {
    margin: 0;
    font-family: "Arial Black", Gadget, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.Container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 978px;
    width: 650px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px #888888;
}


.MainPage{
    color: aqua;
    grid-column: 1;
}


.RightBar{
    color: burlywood;
    grid-column: 2;
}


